.App {
    text-align: center;
    /* min-height: 100vh;*/
    display: flex;
    flex-direction: column;
	height:100vh;
}

.App-header {
    background-color: #b37f52; 
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

}

.App-link {
    color: #61dafb;
}

header {
	
    color: #3B4E49;
    padding: 0.5em;
    flex: 0 0 auto;


}

nav a {
    padding: 0.2em 1.5em;
    color: #1b1a1a;
    transition: background-color 0.3s linear;
    text-decoration: none;
	font-family: Margarine;
	
}

nav a:hover {
    background-color: #F5C97A;
}


/* nav a:active {
    transform: translateY(-2px);
} */

nav a.active {
    font-weight: bold;
}

main {
    /*background-color: #B5E5D9;
    color: #3B4E49;
    flex: 1 1 auto;*/
    overflow: auto;
    background-image: url("../src/backgroundimage.png");
    background-repeat: repeat-y;
}
.webName h1{
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	font-style: cursive;
}